
.reposAndAnalyzerContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
	gap: 16px;
    padding: 16px;
    text-align: center;
}


.reposPageContainer {
    color: black;
    width: 100vw;
    background-color: var(--background-paper);
    position: relative;
    padding: 16px;
}

@media (max-width: 600px) {

	.reposAndAnalyzerContainer {
		padding: 10px;
	}

    .modalContent {
        font-size: 0.875rem;
    }

	.reposPageContainer {

		padding: 0;
	}

}
