/* 3D Card Container and Animation styles */
.cardContainer3d {
  perspective: 1400px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flipCard {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  top: 7%;
  left: 50%;
  min-width: 40%;
  min-height: 80%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  /* display: flex; */
}

.cardFront {
  transform: translateX(-50%);
}

.cardBack {
  height: 80%;
  transform: translateX(-50%) rotateY(180deg);
}

.card {
  background-color: var(--background-paper);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.cardBackInner {
  width: 100%;
  height: 100%;
}

.thankYouContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-align: center;
  color: var(--text-primary);
}

.thankYouContent h3 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: var(--primary-main);
}

.thankYouContent p {
  margin-bottom: 8px;
}

.searchBox {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.searchField
  :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
  border-color: rgba(0, 0, 0, 0.5);
}

.searchButton {
  background-color: black !important;
}

.searchButton:hover {
  background-color: #333 !important;
}

.userInfo {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatarContainer {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s;
}

.avatarContainer:hover {
  transform: scale(1.05);
}

.userDetails {
  text-align: center;
}

.statsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 16px;
}

.emptyState {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 600px) {

  .header {
    gap: 8px;
  }

  .statsBox {
    gap: 16px;
  }

  .buttonGroup {
    gap: 8px;
  }

  .userInfo, .userDetails {
    font-size: 0.875rem;
  }

  .error {
    font-size: 0.875rem;
  }

}
